@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    height: 100vh;
    width: 100%;
    font-size: 62.5%;
    font-family: 'Montserrat';
}
.outer-container {
    width: 100%;
    height: 100%;
    /* max-width: 450px; */
    background-color: red;
    background-image: url('./images/ZigZag-Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel {
    width: 400px;
    min-width: 350px;
    height: 650px;
    background-color: #ffffff;
    box-shadow: 0px 40px 40px -20px #3C7B61;
    border-radius: 5px;
    position: relative;
}
#close-btn {
    position: absolute;
    right: 1rem;
    top: 1rem;
}
.inner-container {
    width: 100%;
}
.food-happy-img {
    display: block;
    margin: 5rem auto 4rem;
}
.inner-container h2 {
    font-weight: 600;
    font-size: 2.2rem;
    color: #2F463D;
    text-align: center;
}
.inner-container p {
    font-family: 'Ubuntu';
    font-size: 1.4rem;
    line-height: 2.6rem;
    color: #828282;
    text-align: center;
    width: 80%;
    margin: 1.5rem auto 5rem;
}
.selected-food {
    width: 90%;
    background-color: #F0FFF5;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.food-name-price {
    width: 50%;
    margin-left: 2rem;
}
.food-name {
    font-weight: 800;
    font-size: 1.4rem;
    color: #2F463D;
    margin-bottom: .5rem;
}
.food-price {
    font-weight: 500;
    font-size: 1.4rem;
    color: #7A8F85;
}
.selected-food a {
    font-weight: 700;
    font-size: 1.3rem;
    color: #467A66;
}
.all-btn {
    width: 90%;
    display: block;
    padding: 2rem 0;
    margin: 7rem auto;
    background: #BDBDBD;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0px 20px 20px rgba(103, 189, 153, 0.2);
    border-radius: 5px;
    font-weight: 800;
    font-size: 1.5rem;
    color: #FFFFFF;
    border: none;
}
.ready-btn {
    margin: 4rem auto 0;
    background: #46A67E;
    transition: .5s all;
}
.ready-btn:hover {
    cursor: pointer;
    opacity: .8;
    transition: .5s all;
}
.dots-container {
    width: 15%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translateX(-50%);
}
.dot {
    height: 8px;
    width: 8px;
    border-radius: 100%;
    background-color: #E0E0E0;
}
.selected-dot {
    background-color: #67BD99;
}
.hide-panel {
    display: none;
}
@media only screen and (min-width: 992px) {
    .hide-panel {
        display: block;
    }
    .panel:nth-of-type(2) {
        margin: 0 20px;
    }
}

